<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021184872203-cr5cge3anvtu52s4vipsj71snh59riqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021184872203-cr5cge3anvtu52s4vipsj71snh59riqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBWta16g9ACZXkTR-lGCYwEuUseaXeQ0eM</string>
	<key>GCM_SENDER_ID</key>
	<string>1021184872203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ai-assistant.ios</string>
	<key>PROJECT_ID</key>
	<string>ai-assistant-1e94a</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-assistant-1e94a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021184872203:ios:72defe61623dcd01aa9c0e</string>
</dict>
</plist>